@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    background-image:    url("/images/home/background.jpg");
    background-size:     cover;                      /* <------ */
    background-position: 0% 15%;
    background-repeat:   no-repeat;
}

a {
    text-decoration: none;
    color: inherit;
}

.active {
    background-color: blue;
    color: white;
    font-weight: 700;
}


.header > a {
    float: left;
}

.github {
    float: left;
    width: 32px;
}


.header {
    position: absolute; /* postulat de départ */
    top: 220px; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header > p {
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    color: white;
    text-align: center;
    width: 500px;
}

.name {
    width: 500px;
    transition: 0.5s;
}

.inside_border {
    border: 4px dashed rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    top: 20px;
}

.copyright {
    position: absolute;
    width: 360px;
    top: 40px;
    left: 40px;
}

.yoshiip {
    position: absolute;
    right: 40px;
    bottom: 40px;
}