.modal {
    width: 80%;
    height: 80%;
    background-color: #D9D9D9;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: relative;
    
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;

}

.black_background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project_info_list {
    background-color: #0f0f10;
    color: white;
    min-width: 320px;
    margin: 12px;
    border-radius: 12px;
    height: calc(100% - 24px);
}

.project_info_list li, ul, a {
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 4px;
}

.project_info_list > .info_top {
    width: 320px;
    position: relative;
}

.project_info_list > .info_top > img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.project_info_list > .info_top > div {
    position: absolute;
    margin: 0;
    bottom: 0px;
    width: 100%;
    padding: 0;
    height: 100%;
    
    background: linear-gradient(0deg, #0f0f10, #0f0f1000);
    
}

.info_top h2 {
    text-align: center;
    font-size: 24px;
    text-align: center;
}

.project_info_list > ul {
    margin: 0;
    padding: 0;
}

.project_info_list > ul > li {
    list-style-type: none;
    font-weight: 100;
}


.arrow.mobile {
    top: 64px;
}



.modal_header {

    position: relative;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    height: 64px;
    border-radius: 32px;
    border: 2px solid rgba(0, 0, 255, 0.404);
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 255, 0.486);
}

.name > h2 {
    font-size: 32px;
    color: #00F;
    font-weight: 900;
    margin: 0;
    padding: 0;
}




.content {
    margin: 0;
    padding: 0;
    display: inline-flex;
    height: 100%;
    width: 100%;
}

.close_btn {
    position: absolute;
    right: 0px;
    top: 68px;
    border: none;
    background: none;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


@media only screen and (max-width: 1024px) {
    .modal {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        display: flex;
    }

    .content {
        display: flex;
        flex-direction: column;
    }



    .project_info_list {
        padding-bottom: 200px;
        position: initial;
        height: min-content;
        order: 3;
    }

    .desktop {
        visibility: hidden;
    }

    .mobile {
        visibility: visible;
    }

    .close_btn {
        position: absolute;
        left: 50%;
        width: 56px;
        top: 36px;
        height: 56px;
        border-radius: 64px;
        background: white;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal_header {
        padding-top: 96px;
    }

    .close_btn > img {
        filter: invert();
    }
}


@media only screen and (min-width: 1024px) {

    .desktop {
        visibility: visible;
    }

    .mobile {
        visibility: hidden;
    }
}




.images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 8px;
}

.images > img {
    border-radius: 10px;
    width: 320px;
}


.buttons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 96px;
}

.button {
    background-color: gray;
    color: white;
    width: 200px;
    height: 40px;
    font-family: inherit;
}

.play_btn {
    background-color: blue;
    border: none;
    position: relative;
    border-radius: 8px;
    color: white;
    width: 240px;
    margin-right: 20px;
    font-family: 'Space Mono', monospace;
}

.play_btn > img {
    position: absolute;
    right: 4px;
    top: 4px;
}

.play_btn:hover {
    background-color: rgb(52, 52, 235);
}

.github_btn {
    width: 40px;
    border: none;
    border-radius: 8px;
    background-color: white;
}

.value > img {
    height: 28px;
    vertical-align: middle;
}



.close_btn > img {
    width: 48px;
    height: 48px;
}


.modal_container {
    width: 100%;
    max-height: 100%;
    margin-top: 16px;
    overflow-y: auto;
}


.modal_container > p {
    padding: 8px;
}


.project_logo {
    height: 80px;
}


.arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left_position {
    left: 20px;
}

.left_position > img {
    transform: scaleX(-1);
}

.right_position {
    right: 20px;
}

.arrow > span {
    visibility: hidden;
    background-color: white;
    color: black;
}

.arrow:hover > span {
    visibility: visible;
}

.techno {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
}

.techno > div {
    width: 200px;
    height: 120px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    animation: 0.1s;
}

.techno > div:hover {
    width: 200px;
    height: 120px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



.techno > div > .label {
    color: gray;
    position: absolute;
    left: 16px;
    bottom: 32px;
}
.techno > div > span {
    font-size: 1.25em;
    font-weight: 900;
    position: absolute;
    left: 16px;
    bottom: 8px;
}

.techno > div > img {
    width: 40px;
    position: absolute;
    left: 16px;
    top: 20px;
}