@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.modal {
    width: 80%;
    height: 80%;
    background-color: #D9D9D9;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    overflow-y: auto;
    position: relative;
    
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;

}

.black_background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project_info_list {
    background-color: #0f0f10;
    color: white;
    min-width: 320px;
    margin: 8px;
    border-radius: 4px;
    height: 100%;
}

.project_info_list > h2 {
    margin: 0;
    margin-left: 20px;
    padding-top: 10px;
    font-size: 24px;
    text-align: center;
}

.project_info_list > ul {
    margin: 0;
    padding: 0;
}

.project_info_list > ul > li {
    list-style-type: none;
    font-weight: 100;
}


.arrow.mobile {
    top: 64px;
}



.modal_header {

    position: relative;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    height: 64px;
    border-radius: 32px;
    border: 2px solid #00F;
    box-shadow: 0px 2px 10px 0px #00F;
}

.name > h2 {
    font-size: 32px;
    color: #00F;
    margin: 0;
    padding: 0;
}




.content {
    margin: 0;
    padding: 0;
    display: inline-flex;
    height: 100%;
    width: 100%;
}

.close_btn {
    position: absolute;
    right: 0px;
    top: 68px;
    border: none;
    background: none;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


@media only screen and (max-width: 1024px) {
    .modal {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        display: flex;
    }

    .content {
        display: flex;
        flex-direction: column;
    }



    .project_info_list {
        padding-bottom: 200px;
        position: initial;
        height: min-content;
        order: 3;
    }

    .desktop {
        visibility: hidden;
    }

    .mobile {
        visibility: visible;
    }

    .close_btn {
        position: absolute;
        left: 50%;
        width: 56px;
        top: 36px;
        height: 56px;
        border-radius: 64px;
        background: white;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal_header {
        padding-top: 96px;
    }

    .close_btn > img {
        filter: invert();
    }
}


@media only screen and (min-width: 1024px) {

    .desktop {
        visibility: visible;
    }

    .mobile {
        visibility: hidden;
    }
}




.images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.images > img {
    border-radius: 10px;
    width: 30%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px;
    animation: 0.1s;
}

.images > img:hover {
    position: fixed;
    left: 0;
    right: 0;
    width: 75%;
    height: 75%;
}


.buttons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 96px;
}

.button {
    background-color: gray;
    color: white;
    width: 200px;
    height: 40px;
    font-family: inherit;
}

.play_btn {
    background-color: blue;
    border: none;
    position: relative;
    border-radius: 8px;
    color: white;
    width: 240px;
    margin-right: 20px;
    font-family: 'Space Mono', monospace;
}

.play_btn > img {
    position: absolute;
    right: 4px;
    top: 4px;
}

.play_btn:hover {
    background-color: rgb(52, 52, 235);
}

.github_btn {
    width: 40px;
    border: none;
    border-radius: 8px;
    background-color: white;
}

.value > img {
    height: 28px;
    vertical-align: middle;
}



.close_btn > img {
    width: 48px;
    height: 48px;
}


.modal_container {
    max-height: 100%;
    margin-top: 16px;
}


.modal_container > p {
    padding: 8px;
}


.project_logo {
    height: 80px;
}


.arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left_position {
    left: 20px;
}

.left_position > img {
    transform: scaleX(-1);
}

.right_position {
    right: 20px;
}

.arrow > span {
    visibility: hidden;
    background-color: white;
    color: black;
}

.arrow:hover > span {
    visibility: visible;
}